<header>
    <div class="top-bar">
        <div class="logo">
            <a href="/"><img src="/images/logo-mercado-liebre.svg"></a>
        </div> 
        <form action="/" method="GET" class="input-lupa">
        
            <input type="search" placeholder="Buscar productos, marcas" id="Buscador" />
            <i class="fas fa-search"></i>
        </form>
        <p class="cuotas">
            <i class="fas fa-hand-holding-usd"></i> 
            Comprá en cuotas y sin tarjeta de crédito
        </p>
        
    </div>
    <div class="div-burger"> <!-- agregamos div para reducir hover del botón -->
        <div class="dropdown-burger">
            <button class="dropbtn-burger">
                <div class="burger-menu">
                    <i class="fas fa-bars"></i>
                </div>
            </button>
            <div class="dropdown-content">
                <a href="#paginadevinos">Ofertas</a>
                <a href="#paginadevinos">Tiendas Oficiales</a>
                <a href="#paginadevinos">Vender</a>
                <a href="#paginadevinos">Ayuda</a>
                <a href="/register">Creá tu cuenta</a>
                <a href="/login">Ingresá</a>
                <a href="#paginadevinos">Mis compras</a>
                
                
            </div>
        </div> 
    </div>
    <nav class="main-nav">
        <ul class="rigt-nav">
            <li ><a href="ofertas">Ofertas</a></li>
            <li ><a href="tiendas-oficiales">Tiendas Oficiales</a></li>
            <li ><a href="vender">Vender</a></li>
            <li ><a href="ayuda">Ayuda</a></li>
        </ul>
        <ul class="left-class">
            <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
            <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i> </a> </li>
            <li><a href="mis-compras">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
        </ul>
        
    </nav>
</header>