<!DOCTYPE html>
<html lang="es">
    <%- include ('./partials/head.ejs') %>
<body>
    <%- include ('./partials/header.ejs') %>
    <main>
        <section id="banner">
            <img id="banner" src="/images/img-home-banner.jpg" alt ="banner"> 
        </section>
        
        <h3 class="titulo-seccion">Basado en tu última visita</h3>
        <section class= "ultima-visita">
            
            <article>
                <div class="img-producto"> 
                    <img src="/images/img-cafetera-moulinex.jpg"> 
                </div>
                <div id="producto">
                    <i class="fas fa-truck"></i>
                    <div class="precio-dto">
                        <p id="precio">$6770</p>
                        <p id="descuento">40% off</p>
                    </div>
                    <p id="descripcion">Cafetera Moulinex</p>
                </div>
            </article>
            <article>
                <div class="img-producto">
                    <img src="/images/img-macbook-pro-2019.jpg">
                </div> 
                <div id="producto">
                    <i class="fas fa-truck"></i>
                    <div class="precio-dto">
                        <p id="precio">$230000</p>
                        <p id="descuento">20% off</p>
                    </div>
                    <p id="descripcion">MacBook Pro2019</p>
                </div>
            </article>
            <article>
                <div class="img-producto">
                    <img src="/images/img-samsung-galaxy-s10.jpg">
                </div> 
                <div id="producto">
                    <i class="fas fa-truck"></i>
                    <div class="precio-dto">
                        <p id="precio">$70500</p>
                        <p id="descuento">10% off</p>
                    </div>
                    <p id="descripcion">Samnsung Galaxy S10</p>
                </div>
            </article>
            <article>
                <div class="img-producto">
                    <img src="/images/img-tv-samsung-smart.jpg">
                </div> 
                <div id="producto">
                    <i class="fas fa-truck"></i>
                    <div class="precio-dto">
                        <p id="precio">$23200</p>
                        <p id="descuento">5% off</p>
                    </div>
                    <p id="descripcion">SmartTv Samsung 43''</p>
                </div>
            </article>
        </section>
        <h3 class="titulo-seccion">Ofertas</h3>
        <section class= "ofertas">
            
            <article>
                <div class="img-producto">
                    <img src="/images/img-cafetera-moulinex.jpg">
                </div> 
                <div id="producto">
                    <i class="fas fa-truck"></i>
                    <div class="precio-dto">
                        <p id="precio">$6770</p>
                        <p id="descuento">40% off</p>
                    </div>
                    <p id="descripcion">Cafetera Moulinex</p>
                </div>
            </article>
            <article>
                <div class="img-producto">
                    <img src="/images/img-macbook-pro-2019.jpg">
                </div> 
                <div id="producto">
                    <i class="fas fa-truck"></i>
                    <div class="precio-dto">
                        <p id="precio">$230000</p>
                        <p id="descuento">20% off</p>
                    </div>
                    <p id="descripcion">MacBook Pro2019</p>
                </div>
            </article>
            <article>
                <div class="img-producto">
                    <img src="/images/img-samsung-galaxy-s10.jpg">
                </div> 
                <div id="producto">
                    <i class="fas fa-truck"></i>
                    <div class="precio-dto">
                        <p id="precio">$70500</p>
                        <p id="descuento">10% off</p>
                    </div>
                    <p id="descripcion">Samnsung Galaxy S10</p>
                </div>
            </article>
            <article>
                <div class="img-producto">
                    <img src="/images/img-tv-samsung-smart.jpg">
                </div> 
                <div id="producto">
                    <i class="fas fa-truck"></i>
                    <div class="precio-dto">
                        <p id="precio">$23200</p>
                        <p id="descuento">5% off</p>
                    </div>
                    <p id="descripcion">SmartTv Samsung 43'</p>
                </div>
            </article>
        </section>
    </main>
    <%- include ('./partials/footer.ejs') %>
</body>
</html>