<!DOCTYPE html>
<html lang="en">
    <%- include ('./partials/head.ejs') %>
<body>
    <%- include ('./partials/header.ejs') %>
    <main>
        <form action="/" method="GET" class="login-form">
            <label><h2>INICIÁ SESIÓN</h2> </label>
            <div class="control-form-login">
                <input type="email" name="email" placeholder="Correo electrónico" class="control-login" autofocus required>
            </div>
            <div class="control-form-login">
                <input type="password" name="password" placeholder="Contraseña" class="control-login" required>
            </div>
            <button type="submit" class="button-login">Enviar</button>
        </form>
    </main>
    <%- include ('./partials/footer.ejs') %>
</body>
</html>