header {
    background-color: #EAC926;
}
p {
    font-family: "Roboto";
    font-size: 12px
}
section {
    font-family: "Roboto"
}
a {
    font-family: "Roboto";
    text-decoration: none;
    color: #000000
}
section#parrafo h3 {
    font-size: 24px
}

#precio {
    font-size: 18px
}

#descripcion, #descuento{
    font-size: 16px
}
.fa-hand-holding-usd {
    padding: 15px
}

footer {
    text-align: center;
}
#copy-right {
    text-align: left
}
.fa-user-shield, .fa-gift, .fa-credit-card{
    size: 2em
}
.burger-menu {
    color: white; 
    margin: auto;
    width: 70px;
    height: 70px;
    font-size: 50px;
    padding: 5px;
    background-color: #1259c3;
    text-align: center;
    border-radius: 5px;  
}
#banner {
    background-size: 100vw auto;
}
.fa-search{
    background-size: 20px;
    width: 23px;
    font-size: 10px;
    padding: 5px 5px 3px;
    margin-left: 0.8em;
    background-color: white;
}
.fa-hand-holding-usd{
    margin: auto;
    width: 10px;
    height: 10px;
    size: 50px;

}
#Buscador {
    background-size: 24px;
    width: 300px;
    padding: 5px 5px 3px;
    margin-left: 0.8em;
  }