* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.register-form, .login-form {
    padding: 40px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 550px;
    margin: auto;
    padding-top: 55px;
    margin-top: 128px; 
}
/* .login-form {
    height: 833px;
} */
.control-form-register, .control-form-login {
    margin-bottom: 15px;
    width: 95%;
}
h2 {
    margin-bottom: 20px;
}

.control-form-register label, .control-form-login label {
    margin-bottom: 5px;
    display: block 
}
.profile-div {
    display: inline;
    margin-bottom: 5px;
}
.control, .control-login {
    width: 100%;
    padding: 6px;
    border: solid 1px black;
    border-radius: 7px;
    margin-bottom: 5px;
}
.boton-formulario, .button-login {
    background-color: #1259c3;
    border: none;
    font-size: 20px;
    color: #fff;
    border-radius: 12px;
    padding: 7px 25px;
}
.control-form-register input[type="date"] {
    background-color: white;
    color: grey;
}
.control-form-register input[type="radio"] {
    width: initial;
    margin-right: 6px;
    margin-right: 6px;
    margin-left: 2px;
}
.control-form-register input[type="checkbox"] {
    margin-right: 8px;
}
.control-form-register label.radio-class {
    display: inline-block;
}
.buttons {
    margin-top: 10px;
}
.button-login:hover {
    background-color: #0022AA;
}
.boton-formulario {
    margin-left: 10px;
}